@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(164, 164, 164, 0.12);
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
body #report-section {
    background: white !important;
}

.copyright {
    border-top: .5px solid #9999998f;
}

/* Scrollbar Color */
.messages_wrap {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.messages_wrap::-webkit-scrollbar {
    width: 12px;
}

.messages_wrap::-webkit-scrollbar-track {
    background: #ffffff !important;
}

.messages_wrap::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.messages_wrap::-webkit-scrollbar-thumb:hover {
    background: #ffffff !important;
}

p {
    color: #39393B !important;
    font-size: 16px !important;
}

.box p {
    font-size: 14px !important;
    color: #828D9E !important;
}

.whats_new input {
    outline: none !important;
    border: none !important;
    background: transparent !important;
    color: #39393B;
}

.whats_new textarea {
    outline: none !important;
    border: none !important;
    background: transparent !important;
    color: #39393B;
}

input {
    outline: none !important;
    background: #fafafa !important;
}

textarea {
    color: #39393B !important;
    border: 1px solid #a1a1a1db;
    outline: none !important;
    box-shadow: none !important;
    background: rgba(250, 250, 250, 0.73);
    resize: none; /* Disables manual resizing */
}

button {
    outline: none;
}

/* Ant Design Checkbox */
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #4D7FB8 !important;
    border-color: #4D7FB8 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #4D7FB8 !important;
    border-color: #4D7FB8 !important;
}

.ant-checkbox-checked:hover .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #4D7FB8 !important;
    border-color: #4D7FB8 !important;
}

.ant-checkbox-checked:after {
    border-color: #4D7FB8 !important;
}

.ant-checkbox:hover::after {
    border-color: #4D7FB8 !important;
}

.ant-checkbox:hover .ant-checkbox-inner {
    border-color: #4D7FB8 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: #4D7FB8 !important;
}

/* Ant design radio box */
/* Target the radio button when it is checked */
.ant-radio-checked .ant-radio-inner {
    border-color: #ffffff; /* Change border color when checked */
}

.ant-radio-checked .ant-radio-inner:after {
    background-color: #ffffff; /* Change inner dot color when checked */
}

/* Optionally, change the hover and focus states */
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
    border-color: #4D7FB8; /* Change border color on hover or focus */
}

/* New */
:where(.css-dev-only-do-not-override-mzwlov).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #4D7FB8;
    background-color: #4D7FB8;
}

/* Dropdown design */
#post_filter {
    padding: 4px 35px !important;
    border: 0 !important;
    outline: 0 !important;
    --tw-ring-opacity: 0 !important;
}

/* Filter Dropdown */
.filter_dropdown input {
    background: white !important;
}

.border-input {
    border: none !important;
}

.filter_dropdown_checkout input {
    background-color: rgba(250, 250, 250, 0.73) !important;
}

/* Modal design */
.modal_cntrl button {
    outline: none !important;
}

.modal_cntrl .max-w-lg {
    border-radius: 10px !important;
}

.tooltip_design {
    top: 55px !important;
    display: flex;
    height: 25px;
    font-size: 12px;
    font-weight: 400 !important;
    align-items: center;
    justify-content: center;
    color: #4D7FB8;
    border-radius: 3px !important;
}

/*-- Phone dropdown design ----------*/
.react-international-phone-input-container .react-international-phone-input {
    font-size: 12px !important;
    padding-left: 1rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    z-index: 2 !important;
    width: 100% !important;
}

.react-international-phone-input-container .react-international-phone-input:focus {
    border: 1px solid #4D7FB8 !important;
    box-shadow: none !important;
}

.react-international-phone-country-selector-button__button-content {
    padding: 0 10px !important;
}

/*------------------- Account -------------------*/
#account_dropdown_menu {
    top: 40px;
    right: 0;
    width: 315px;
    height: 350px;
    overflow: hidden;
}

#account_dropdown_menu_re {
    top: 40px;
    right: 0;
    width: 315px;
    height: 327px;
    overflow: hidden;
}

.last_user_icon:hover .profile_text {
    color: #4D7FB8;
}

.last_user_icon:hover .profile_icon {
    color: #4D7FB8;
}

/*------------------- Account Mobile / Tap -------------------*/
#account_mobile_dropdown_menu {
    top: 47px;
    right: -8px;
    width: 315px;
    height: 350px;
    overflow: hidden;
}

.last_user_mobile_icon:hover .profile_text {
    color: #4D7FB8;
}

.last_user_mobile_icon:hover .profile_icon {
    color: #4D7FB8;
}

/*------------------- Business -------------------*/
#business_dropdown_menu {
    top: 36px;
    right: 0;
    width: 315px;
    height: 145px;
    overflow: hidden;
}

/*------------------- Language -------------------*/
#language_dropdown_menu {
    top: 36px;
    right: 0;
    width: 140px;
    height: 83px;
    overflow: hidden;
}

/*------------------- User Dashboard Mobile Menu -------------------*/
#mobile_dropdown_menu_user_dashboard {
    top: 32px;
    right: 0;
    width: 315px;
    height: 185px;
    overflow: hidden;
}

.last_business_icon:hover .profile_text {
    color: #4D7FB8;
}

.last_business_icon:hover .profile_icon {
    color: #4D7FB8;
}

/*---------------- Main Home Page Design -------------------------*/
em-emoji-picker {
    min-height: 300px;
    max-height: 300px;
    position: relative;
    z-index: 9999;
}

/*------------ Modal Dropdown Design --------------------*/
.select-option {
    position: relative;
}

.info-content {
    position: absolute;
    top: 35px;
    background-color: white;
    border: 1px solid lightgray;
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 999;
    padding: 10px 0;
}

.gender_content {
    width: 100%;
}

.modal_body input {
    outline: none !important;
    border: 1px solid #a1a1a1db;
    background: #fafafaba;
    color: #39393b !important;
}

.modal_body .dropdown_box input {
    border: none !important;
}

.options {
    max-height: 100px;
    overflow-y: auto;
    padding: 0;
}

.options li {
    padding: 3px 10px;
    font-size: 14px;
    cursor: pointer;
}

.options li:hover {
    background: #4D7FB8;
    color: white;
}

.select-option input {
    width: 100%;
    background-color: rgba(250, 250, 250, 0.73);
    border: 1px solid lightgray;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 15px;
    outline: 0 !important;
}

.select-option:after {
    content: "";
    border-top: 8px solid #808080FF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
}

/*------------------ Slider Design ------------------*/
.slider_image {
    width: -moz-available; /* For Firefox */
    width: -webkit-fill-available !important;
}

/*------------------ Profile page design -------------*/
.user_top_details {
    background: linear-gradient(#e0e0e0, #505050);
}

.left_side_profile_tab button {
    box-shadow: none !important;
    padding: 10px 15px;
}

.left_side_profile_tab .border-cyan-600 {
    color: #4D7FB8;
}

.left_side_profile_tab .border-cyan-600 {
    border-color: #4D7FB8;
}

/*--------------- Toastify Message Design ------------------*/
.toastBody {
    font-size: 14px;
}

/* Success */
.Toastify__toast-theme--colored.Toastify__toast--success {
    background: #D9EDE1 !important;
    color: rgba(71, 174, 116, 0.74) !important;
    border: 1.5px solid #47AE74 !important;
}

.Toastify__toast--success .Toastify__close-button > svg {
    color: #47AE74 !important;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success {
    background: rgb(71 174 116 / 17%) !important;
}

/* Warning */
.Toastify__toast-theme--colored.Toastify__toast--warning {
    background: rgb(253, 246, 178) !important;
    color: #C27839 !important;
    border: 1.5px solid #C27839 !important;
}

.Toastify__toast--warning .Toastify__close-button > svg {
    color: #C27839 !important;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning {
    background: rgba(194, 120, 57, 0.36) !important;
}

/* Info */
.Toastify__toast-theme--colored.Toastify__toast--error {
    background: #ff9999 !important;
    color: #b22020 !important;
    border: 1.5px solid #b22020 !important;
}

.Toastify__toast--error .Toastify__close-button > svg {
    color: darkred !important;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    background: rgba(139, 0, 0, 0.19) !important;
}

/* Info */
.Toastify__toast-theme--colored.Toastify__toast--info {
    background: #E1E7EF !important;
    color: #006FBE !important;
    border: 1.5px solid rgba(0, 111, 190, 0.5) !important;
}

.Toastify__toast--info .Toastify__close-button > svg {
    color: #006FBE !important;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info {
    background: rgba(77, 127, 184, 0.61) !important;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .react-international-phone-input-container .react-international-phone-input {
        width: 100% !important;
    }

    .react-international-phone-country-selector-button__button-content {
        padding: 0 3px !important;
    }
}